@import "_parts/variables";
@import "_parts/reset";
@import "_parts/layout";
@import "_parts/icons";
@import "_parts/buttons";
@import "_parts/alerts";

.page--app {
	padding-top: 100px;
	padding-bottom: 30px;
	
	header {
		background: $activeColor;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}

	footer a {
		color: $grayColor;
	}
}


.photo {
	position: fixed;
	top: 0;
	left:0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
}

.photo__btn {
	position: fixed;
	top: 50%;
    z-index: 2;
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
	background: #ccc;
	line-height: 48px;
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.photo__btn--prev {
	left: 10px;
}

.photo__btn--next {
	right: 10px;
}

.photo__btn--close {
	top: 10px;
	right: 10px;
}

.photo__frame {
  	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 100px 0 #000;
    background: no-repeat center center;
    background-size: auto 100%;
}

.photo__caption {
	position: fixed;
	bottom: 0;
	width: 100%;
    z-index: 2;
    padding: 40px 20px 20px 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	color: #fff;
	text-align: center;
}

.start-form {
	width: 720px;
	margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
	background: #F7F7F7;
}

.start-form__title {
	font-size: 24px;
	margin-bottom: 10px;	
}

.start-form__input {
	width: 200px;
	margin-right: 20px;
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.loading {
	position: relative;
}

.loading:before {
    position: absolute;
    top: 0;
  	left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.loading:after {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 40px; 
    height: 40px; 
    margin-top: -20px; 
    margin-left: -20px; 
    z-index: 2;
    content: ''; 
    border: solid 5px #00526E; 
    border-radius: 50%;
    transform-origin: center center; 
    animation:spin 1s linear infinite;
}

@keyframes spin {
   	0% {
        border-color: #00526E;
	}
    75% {
        border-color: #0099CC;
        transform: scale(1.3);
    }
    100% { 
        border-color: #00526E;
        transform: scale(1); 
    }
}

/* Animation between veiws */
.view-animation {
    transition: $transitionTime all;
    
    &.ng-enter,
    &.ng-leave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
    }
    
    &.ng-enter {
        z-index: 11;
        opacity: 0;

        &.ng-enter-active {
            opacity: 1;
        }
    }
    
    &.ng-leave { 
        z-index: 10;
        opacity: 1;

        &.ng-leave-active {
            opacity: 0;
        }
    }
}